.slideshow-container{
  background-color: none;
}
.kimsface{
  height:200px;
  width:auto;
}

body{
    background-image: url("https://i.pinimg.com/564x/37/21/76/372176efa1f64f5b565b83ee936734a6--wallpaper-kawaii-unicorns.jpg");
    background-color: #cccccc;
}
}
